<div class="container-xxl bg-white p-0">
    <div *ngFor="let match of matches" class="match-container">
        <div class="teams">
          <div class="team">
            <p>{{ match.team1Name }}</p>
            <p>{{ match.team1Score }} ({{ match.team1Overs }} overs)</p>
          </div>
      
          <div class="vs">VS</div>
      
          <div class="team">
            <p>{{ match.team2Name }}</p>
            <p>{{ match.team2Score }} ({{ match.team2Overs }} overs)</p>
          </div>
        </div>
      
        <div class="status">
          <p>{{ match.status }}</p>
        </div>
      
        <div class="venue">
          <p>{{ match.venue }}</p>
        </div>
      </div>
</div>