<div class="containerx">
    <!-- Properties Section -->
    <div class="section properties">
      <h2>Properties</h2>
      <div class="content">
        <ul>
          <li>Point 1 about Properties</li>
          <li>Point 2 about Properties</li>
          <li>Point 3 about Properties</li>
        </ul>
        <a href="#" class="view-more">View More</a>
      </div>
      <button class="know-more">Know More</button>
    </div>
  
    <!-- Cinema Section -->
    <div class="section cinema">
      <h2>Cinema</h2>
      <div class="content">
        <ul>
          <li>Point 1 about Cinema</li>
          <li>Point 2 about Cinema</li>
          <li>Point 3 about Cinema</li>
        </ul>
        <a href="#" class="view-more">View More</a>
      </div>
      <button class="know-more">Know More</button>
    </div>
  
    <!-- Cricket Section -->
    <div class="section cricket">
      <h2>Cricket</h2>
      <div class="content">
        <ul>
          <li>Point 1 about Cricket</li>
          <li>Point 2 about Cricket</li>
          <li>Point 3 about Cricket</li>
        </ul>
        <a href="#" class="view-more">View More</a>
      </div>
      <button class="know-more">Know More</button>
    </div>
  </div>