<div class="container-xxl bg-white p-0">
    <div class="container-fluid header bg-white p-0">
        <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
            <!-- <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family</h1>
                    <p class="animated fadeIn mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet
                        sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                    <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                </div> -->
            <div class="col-sm-12 animated fadeIn">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item">
                        <img class="img-fluid"
                        
                            src="https://lh3.googleusercontent.com/d/1fg7omGN0IqTPT_XsrN8jPbHvQq3WLfMp?authuser=0"
                            alt="">
                        <!-- https://lh3.googleusercontent.com/d/'DROP IMAGE ID here'?authuser=0 -->
                        <!-- https://lh3.googleusercontent.com/d/'1RPgl4FtF-u9Xjs1-zi2M26AnKwdfr6j6'?authuser=0 -->
    
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid"
                            src="https://lh3.googleusercontent.com/d/1RPgl4FtF-u9Xjs1-zi2M26AnKwdfr6j6?authuser=0"
                            alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid"
                            src="https://lh3.googleusercontent.com/d/1DOVudMVCiQ2T8l1ckHAbLohjb-2Ddk6s?authuser=0"
                            alt="">
                    </div>
                    <!-- <div class="owl-carousel-item">
                        <img class="img-fluid" src="https://pbs.twimg.com/media/E7Uf5icVgAIAHda.jpg" alt="">
                    </div> -->
                    <!-- <div class="owl-carousel-item">
                            <img class="img-fluid" src="" alt=""> 
                        </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Property List Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                        <h1 style="line-height: 1.2;">Our Projects</h1>
                        <p class="tagline">WHERE DREAMS FIND THEIR PLOT!</p>
                        
                    </div>
                </div>
                <div class="filter-buttons">
                    <button class="filter-btn active">All</button>
                    <button class="filter-btn">In Progress</button>
                    <button class="filter-btn">Completed</button>
                  </div>
                  
                <!-- CODE COMMENTED FOR NOW!! NEED TO MODIFY AND ADD -->
                <!-- <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Completed</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">Under Construction</a>
                        </li>
                        <li class="nav-item me-0">
                            <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">Upcoming</a>
                        </li>
                    </ul>
                </div> -->
            </div>
    
            <!-- Tab content -->
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <!-- Property Card -->
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden shadow-lg transition-all hover:scale-105 completed">

                                <div class="position-relative overflow-hidden">
                                    <a href="/Idream/vistara" class = "nav-link"><img class="img-fluid" src="https://lh3.googleusercontent.com/d/1fg7omGN0IqTPT_XsrN8jPbHvQq3WLfMp?authuser=0" alt=""></a>
                                   
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">PLOT</div>
                                </div>
                                <div class="p-4 pb-0 position-relative">
                                    <h5 class="text-primary mb-3">₹2,847 / Sq.Ft</h5>
                                    <a class="d-block h5 mb-2" href="#">idream Vistara</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Uthangudi, Madurai</p>
                                    <a class="btn btn-secondary brochure-btn" href="https://drive.google.com/file/d/1O7gcOXfsjMrZxxEe65UG3Z7AJod6gkNJ/view?usp=drive_link" target="_blank">Brochure</a>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Prime Location</small>
                                
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>
                                        30 Ft Road</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-map text-primary me-2"></i>Approved Layout</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden shadow-lg transition-all hover:scale-105">
                                <div class="position-relative overflow-hidden">
                                    <a href="#"><img class="img-fluid" src="../../img/IdreamNakshatra.jpg" alt=""></a>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">PLOT</div>
                                </div>
                                <div class="p-4 pb-0 position-relative">
                                    <h5 class="text-primary mb-3">₹2,400 / Sq.Ft</h5>
                                    <a class="d-block h5 mb-2" href="#">idream Nakshatra</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Royapuram, Chennai</p>
                                    <a class="btn btn-secondary brochure-btn" href="https://drive.google.com/file/d/1XhQfXcmdBg_Fv9H8Yg3G1AKMfOg_lzPp/view?usp=drive_link" target="_blank">Brochure</a>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Prime Location</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-tree text-primary me-2"></i> Green Surroundings
                                        </small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-map text-primary me-2"></i>Immediate Registration</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden shadow-lg transition-all hover:scale-105">
                                <div class="position-relative overflow-hidden">
                                    <a href="#"><img class="img-fluid" src="https://lh3.googleusercontent.com/d/11Y1_c6Ubu7zkBstbiBhafS4alxvmf2gc?authuser=0" alt=""></a>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">PLOT</div>
                                </div>
                                <div class="p-4 pb-0 position-relative">
                                    <h5 class="text-primary mb-3">₹970 / Sq.Ft</h5>
                                    <a class="d-block h5 mb-2" href="#">idream Mandhra</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Tondiarpet, Chennai</p>
                                    <a class="btn btn-secondary brochure-btn" href="https://drive.google.com/file/d/1A0UkfF9Vc3CjHkDBuGQYwuPzdabN5wT4/view?usp=drive_link" target="_blank">Brochure</a>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Premium Location</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-map text-primary me-2"></i>Approved Layout</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-home text-primary me-2"></i>
                                        Secured Community</small>
                                </div>
                            </div>
                        </div>
    
    
    
                        <!-- Add more property cards here... -->
    
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary py-3 px-5 transition-all hover:scale-105" href="#">Browse More Properties</a>
                        </div>
                    </div>
                </div>
    
                <!-- Add other tabs for Rent & Sell -->
    
            </div>
        </div>
    </div>
    <!-- Property List End -->
    <!--Why Choose Us-->
    <div class="container-xxl py-5 bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-4" style="font-family: 'Poppins', sans-serif; font-weight: bold;">Why Choose Idream Properties?</h1>
                    <p class="mb-5">Discover the reasons why Idream Properties is your best choice for finding your dream property. We offer unmatched service, expertise, and a commitment to excellence.</p>
                </div>
            </div>
            <div class="row text-center">
                <!-- Point 1 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="feature-box p-4 rounded shadow-lg">
                        <div class="feature-icon mb-3">
                            <i class="fa fa-check-circle text-primary" style="font-size: 40px;"></i>
                        </div>
                        <h5 class="mb-3">Expert Advice</h5>
                        <p>Our team of real estate experts offers valuable insights to help you make the best investment decisions.</p>
                    </div>
                </div>
                <!-- Point 2 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="feature-box p-4 rounded shadow-lg">
                        <div class="feature-icon mb-3">
                            <i class="fa fa-thumbs-up text-primary" style="font-size: 40px;"></i>
                        </div>
                        <h5 class="mb-3">Trusted & Reliable</h5>
                        <p>We prioritize trust and reliability in all of our dealings, ensuring a seamless and transparent experience for our clients.</p>
                    </div>
                </div>
                <!-- Point 3 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="feature-box p-4 rounded shadow-lg">
                        <div class="feature-icon mb-3">
                            <i class="fa fa-heart text-primary" style="font-size: 40px;"></i>
                        </div>
                        <h5 class="mb-3">Customer-Centric</h5>
                        <p>We put our clients first and ensure we find the perfect property that matches their needs and preferences.</p>
                    </div>
                </div>
            </div>
    
            <div class="row text-center">
                <!-- Point 4 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="feature-box p-4 rounded shadow-lg">
                        <div class="feature-icon mb-3">
                            <i class="fa fa-cogs text-primary" style="font-size: 40px;"></i>
                        </div>
                        <h5 class="mb-3">Full-Service Solutions</h5>
                        <p>From property search to closing deals, we offer end-to-end solutions to make your real estate journey stress-free.</p>
                    </div>
                </div>
                <!-- Point 5 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="1s">
                    <div class="feature-box p-4 rounded shadow-lg">
                        <div class="feature-icon mb-3">
                            <i class="fa fa-building text-primary" style="font-size: 40px;"></i>
                        </div>
                        <h5 class="mb-3">Vast Property Network</h5>
                        <p>We provide access to an extensive network of high-quality properties, offering a wide variety of options for all budgets.</p>
                    </div>
                </div>
                <!-- Point 6 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="1.2s">
                    <div class="feature-box p-4 rounded shadow-lg">
                        <div class="feature-icon mb-3">
                            <i class="fa fa-flag-checkered text-primary" style="font-size: 40px;"></i>
                        </div>
                        <h5 class="mb-3">Professionalism</h5>
                        <p>Our team adheres to the highest standards of professionalism, ensuring every transaction is smooth and reliable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Testimonial-->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-4" style="font-family: 'Poppins', sans-serif; font-weight: bold;">What Our Clients Say</h1>
                    <p class="mb-5">Our clients’ experiences speak volumes. Here’s why they love working with Idream Properties.</p>
                </div>
            </div>
    
            <div class="row">
                <!-- Testimonial 1 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="testimonial-card p-4 rounded shadow-lg">
                        <div class="testimonial-img mb-3">
                            <img src="../../img/testimonial-1.jpg" class="img-fluid rounded-circle" alt="Client 1">
                        </div>
                        <p class="testimonial-text mb-3">"Working with Idream Properties has been a dream! Their professionalism and commitment to finding the perfect home for me were outstanding. I couldn’t be happier!"</p>
                        <h5 class="client-name">John Doe</h5>
                        <p class="client-position text-muted">Homeowner</p>
                    </div>
                </div>
    
                <!-- Testimonial 2 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="testimonial-card p-4 rounded shadow-lg">
                        <div class="testimonial-img mb-3">
                            <img src="../../img/testimonial-2.jpg" class="img-fluid rounded-circle" alt="Client 2">
                        </div>
                        <p class="testimonial-text mb-3">"Idream Properties made the process of renting a property smooth and stress-free. They were always available for questions and guided me through each step. A fantastic team!"</p>
                        <h5 class="client-name">Sarah Smith</h5>
                        <p class="client-position text-muted">Renter</p>
                    </div>
                </div>
    
                <!-- Testimonial 3 -->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="testimonial-card p-4 rounded shadow-lg">
                        <div class="testimonial-img mb-3">
                            <img src="../../img/testimonial-3.jpg" class="img-fluid rounded-circle" alt="Client 3">
                        </div>
                        <p class="testimonial-text mb-3">"I was really impressed by the team’s market knowledge and dedication. They helped me find the best investment property, and I couldn’t have asked for a better experience."</p>
                        <h5 class="client-name">Mark Johnson</h5>
                        <p class="client-position text-muted">Investor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Us-->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded p-3">
                <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded w-100" src="../../img/call-to-action.jpg" alt="">
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="mb-4">
                                <h1 class="mb-3">Contact Us</h1>
                                <p>Fill the below form with your details!</p>
                            </div>
    
                            <!-- Contact Form -->
                            <form id="contactForm">
                                <input type="hidden" name="access_key" value="b2e78127-5e51-4689-913c-ea09b78f3c31">
    
                                <div class="mb-3">
                                    <input type="text" id="name" name="name" class="form-control py-3 px-4"
                                        placeholder="Your Name" maxlength="20" pattern="[a-zA-Z\s]+" title="Only Alphabets are allowed" required>
                                </div>
                                <div class="mb-3">
                                    <input type="email" id="email" name="email" class="form-control py-3 px-4"
                                        placeholder="Your Email" required>
                                </div>
                                <div class="mb-3">
                                    <input type="tel" id="phone" name="phone" class="form-control py-3 px-4"
                                        placeholder="Your Phone Number" maxlength="10" required pattern="(0|91)?[6-9][0-9]{9}"
                                        title="Please Enter a valid phone number">
                                </div>
                                <div class="mb-3">
                                    <textarea id="message" name="message" class="form-control py-3 px-4"
                                        placeholder="Your Message" maxlength="50" required></textarea>
                                </div>
    
                                <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
    
                                <button type="submit" id="submitBtn" class="btn btn-primary py-3 px-4 mt-3">Submit Form</button>
                            </form>
    
                            <!-- Success Message Pop-Up -->
                            <div id="successMessage" class="alert alert-success mt-3" style="display: none;">
                                Thank you for contacting us! We will get back to you shortly.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FAQ-->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const filterButtons = document.querySelectorAll('.filter-btn');
          const projects = document.querySelectorAll('.project-card');
        
          filterButtons.forEach(btn => {
            btn.addEventListener('click', () => {
              filterButtons.forEach(b => b.classList.remove('active'));
              btn.classList.add('active');
              const filter = btn.textContent.trim().toLowerCase().replace(' ', '');
              projects.forEach(project => {
                if (filter === 'all' || project.classList.contains(filter)) {
                  project.style.display = 'block';
                } else {
                  project.style.display = 'none';
                }
              });
            });
          });
        });
        </script>
        
    </div>